.Flexbox {
  display: flex;
  flex-direction: row;
}

.FlexItemResizable {
  resize: horizontal;
  overflow: hidden; /* `overflow` property is required to activate `resize` property */
  /* border: 2px solid lightgray; */
}

.FlexItem {
  flex: 3 1 auto; /* `flex` property disables `resize` property */
  /* border: 2px solid lightgray; */
}

.Button {
  white-space: nowrap;
  /* border: 2px solid lightgray; */
}
.Button:hover {
  background: #FFFFEE;
  /* border: 2px solid lightgray; */
}


.Head {
width: 100%;
background: #E0E0E0;/*lightgray*/
text-align: center;
}

.HScrollable {
  scrollbar-width: none;  /* Firefox */
}
.HScrollable::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.Abs {
position: absolute;
top: 0px;
left: 0px;
}
svg.Abs {
width: 100%;
}